<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>StadtKatalog</title>

    <link rel="dns-prefetch" href="https://app.stadtkatalog.org/" />
    <link rel="preconnect" href="https://app.stadtkatalog.org/" />

    <style>
      /* roboto-300 - latin-ext_latin */
      @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
        src: local('Roboto Light'), local('Roboto-Light'),
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
      }
      /* roboto-300italic - latin-ext_latin */
      @font-face {
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 300;
        src: url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-300italic.eot'); /* IE9 Compat Modes */
        src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-300italic.woff') format('woff'), /* Modern Browsers */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
      }
      /* roboto-regular - latin-ext_latin */
      @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        src: url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
        src: local('Roboto'), local('Roboto-Regular'),
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
      }
      /* roboto-500 - latin-ext_latin */
      @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        src: url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
        src: local('Roboto Medium'), local('Roboto-Medium'),
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
      }
      /* roboto-italic - latin-ext_latin */
      @font-face {
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 400;
        src: url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
        src: local('Roboto Italic'), local('Roboto-Italic'),
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
      }
      /* roboto-500italic - latin-ext_latin */
      @font-face {
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 500;
        src: url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-500italic.eot'); /* IE9 Compat Modes */
        src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-500italic.woff') format('woff'), /* Modern Browsers */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
      }
      /* roboto-700italic - latin-ext_latin */
      @font-face {
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 700;
        src: url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-700italic.eot'); /* IE9 Compat Modes */
        src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-700italic.woff') format('woff'), /* Modern Browsers */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
      }
      /* roboto-700 - latin-ext_latin */
      @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        src: url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
        src: local('Roboto Bold'), local('Roboto-Bold'),
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/roboto-v18-latin-ext_latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
      }
      /* kreon-300 - latin */
      @font-face {
        font-family: 'Kreon';
        font-style: normal;
        font-weight: 300;
        src: local('Kreon Light'), local('Kreon-Light'),
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/kreon-v11-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/kreon-v11-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      }
      /* kreon-regular - latin */
      @font-face {
        font-family: 'Kreon';
        font-style: normal;
        font-weight: 400;
        src: local('Kreon Regular'), local('Kreon-Regular'),
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/kreon-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/kreon-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      }
      /* kreon-700 - latin */
      @font-face {
        font-family: 'Kreon';
        font-style: normal;
        font-weight: 700;
        src: local('Kreon Bold'), local('Kreon-Bold'),
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/kreon-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/fonts/kreon-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      }

    </style>

    <!-- icons -->
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/favicon-16x16.png">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/apple-touch-icon-152x152.png">

    <!-- general meta tags -->
    <meta name="description" content="Der StadtKatalog ist das offene Branchenverzeichnis für lokale Unternehmen, Vereine und Selbstständige – mit Öffnungszeiten, Adressen, Kontaktdaten.">
    <meta name="robots" content="noodp">
    <meta property="og:url" content="https://www.stadtkatalog.org">
    <meta property="og:locale" content="de_AT">
    <meta property="og:type" content="website">
    <meta property="og:title" content="StadtKatalog">
    <meta property="og:description" content="Der StadtKatalog ist das offene Branchenverzeichnis für lokale Unternehmen, Vereine und Selbstständige – mit Öffnungszeiten, Adressen, Kontaktdaten.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Der StadtKatalog ist das offene Branchenverzeichnis für lokale Unternehmen, Vereine und Selbstständige – mit Öffnungszeiten, Adressen, Kontaktdaten.">
    <meta name="twitter:title" content="StadtKatalog">
    <meta property="og:image" content="https://www.stadtkatalog.org<%= htmlWebpackPlugin.files.publicPath %>static/stadtkatalog/og-image.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:type" content="image/png" />

    <% for (var index in htmlWebpackPlugin.files.css) { %>
    <link rel="preload" href="<%= htmlWebpackPlugin.files.css[index] %>" as="style">
    <% } %>
    <% for (var index in htmlWebpackPlugin.files.js) { %>
    <link rel="preload" href="<%= htmlWebpackPlugin.files.js[index] %>" as="script">
    <% } %>

    <style>
      <%= require('!raw-loader!./static/inlined-styles.css') %>
    </style>
  </head>
  <body class="stadtkatalog">
    <noscript>
      Sie müssen JavaScript aktiviert haben um den StadtKatalog zu nutzen.
    </noscript>

    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
