<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Seestadt.bot</title>

    <link rel="dns-prefetch" href="https://stadtbots.appspot.com/" />
    <link rel="preconnect" href="https://stadtbots.appspot.com/" />

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@200..900&display=swap" rel="stylesheet">

    <!-- icons -->
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/seestadtbot/seestadtbot-favicon-16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/seestadtbot/seestadtbot-favicon-32.png">
    <link rel="icon" type="image/png" sizes="64x64" href="<%= htmlWebpackPlugin.files.publicPath %>static/seestadtbot/seestadtbot-favicon-64.png">
    <link rel="icon" type="image/png" sizes="128x128" href="<%= htmlWebpackPlugin.files.publicPath %>static/seestadtbot/seestadtbot-favicon-128.png">

    <link rel="apple-touch-icon" sizes="120x120" href="<%= htmlWebpackPlugin.files.publicPath %>static/seestadtbot/seestadtbot-apple-touch-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= htmlWebpackPlugin.files.publicPath %>static/seestadtbot/seestadtbot-apple-touch-icon-152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="<%= htmlWebpackPlugin.files.publicPath %>static/seestadtbot/seestadtbot-apple-touch-icon-167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= htmlWebpackPlugin.files.publicPath %>static/seestadtbot/seestadtbot-apple-touch-icon-180.png">
    <link rel="apple-touch-icon" sizes="334x334" href="<%= htmlWebpackPlugin.files.publicPath %>static/seestadtbot/seestadtbot-apple-touch-icon-334.png">

    <!-- general meta tags -->
    <meta name="description" content="Der Seestadt.bot hilft dir im Alltag, denn er kennt die Öffi-Abfahrtszeiten, Restaurants, Geschäfte und vieles mehr.">
    <meta name="robots" content="noodp">
    <meta property="og:url" content="https://seestadt.bot">
    <meta property="og:locale" content="de_AT">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Seestadt.bot">
    <meta property="og:description" content="Der Seestadt.bot hilft dir im Alltag, denn er kennt die Öffi-Abfahrtszeiten, Restaurants, Geschäfte und vieles mehr.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Der Seestadt.bot hilft dir im Alltag, denn er kennt die Öffi-Abfahrtszeiten, Restaurants, Geschäfte und vieles mehr.">
    <meta name="twitter:title" content="Seestadt.bot">
    <meta property="og:image" content="https://seestadt.bot/static/seestadtbot/og-image.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:type" content="image/png" />

    <% for (var index in htmlWebpackPlugin.files.css) { %>
    <link rel="preload" href="<%= htmlWebpackPlugin.files.css[index] %>" as="style">
    <% } %>
    <% for (var index in htmlWebpackPlugin.files.js) { %>
    <link rel="preload" href="<%= htmlWebpackPlugin.files.js[index] %>" as="script">
    <% } %>

    <style>
      <%= require('!raw-loader!./static/inlined-styles.css') %>
    </style>
  </head>
  <body class="seestadtbot">
    <noscript>
      Sie müssen JavaScript aktiviert haben um den StadtKatalog zu nutzen.
    </noscript>

    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
