@import "../base";

@mixin button-style {
  @include button-reset;

  display: inline-flex;
  align-items: center;
  font-size: 1.6rem;
  margin-left: 0.5rem;
  text-decoration: none;
  border: 1px solid #bfbfbf;
  border-radius: 8px;
  padding: 12px 22px;
  color: #4d4d4d;
  background: #fefefe;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover,
  &:focus {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}
