$link-normal-color: #889ba6;
$link-search-result-color: #556168;

$font-headline: "Work Sans", sans-serif;
$font-text: "Lato", sans-serif;

$search-result-background: #fff;
$search-result-box-shadow: 0 0 0.25rem #ccc;
$search-no-result-background: #fff;
