$link-normal-color: #657881;
$link-search-result-color: #586a5a;

$search-result-background: #fcfcfc;
$search-no-result-background: #faf7f2;

$font-headline: "Kreon", Roboto, sans-serif;
$font-text: "Source Sans Pro", Helvetica, Arial, sans-serif;

$search-result-background: #fff;
$search-result-box-shadow: 0 0 0.25rem #ccc;
$search-no-result-background: #fff;
