<template>
  <div class="about-wrapper">
    <div>
      <h1>Information & Kontakt</h1>

      <p>
        Der Seestadt.bot ist ein kostenloses Service. Es wird keinerlei Haftung oder Gewähr für die Richtigkeit
        der dargestellten Daten übernommen.
      </p>

      <h2>Warum fehlt mein Unternehmen?</h2>
      <p>
        Alle Einträge im Firmenverzeichnis stammen aus dem StadtKatalog. Dieser wird von Freiwilligen befüllt und
        laufend aktualisiert. Falls dein Unternehmen fehlt, oder fehlerhafte Informationen hinterlegt sind, kannst du
        selbst eine Aktualisierung vornehmen:
      </p>

      <p>
        <a :href="proposalUrl" class="stadtkatalog-button" target="_blank">
          Daten verbessern oder Fehler melden
        </a>
      </p>
    </div>
    <div>
      <h2>Datenquellen</h2>
      <ul>
        <li><a href="https://www.StadtKatalog.org">StadtKatalog.org</a> (CC BY 4.0)</li>
        <li><a href="https://www.data.gv.at/katalog/dataset/522d3045-0b37-48d0-b868-57c99726b1c4">Wiener Linien Echtzeitdaten</a> (CC BY 4.0)</li>
        <li><a href="https://data.wien.gv.at">Stadt Wien</a> (CC BY 4.0)</li>
        <li>Grundkarte von <a href="https://basemap.at">Basemap.at</a> (CC BY 4.0)</li>
        <li>SeestadtFLOTTE via SYCUBE e-mobility-sharing</li>
        <li><a href="https://www.data.gv.at/katalog/dataset/zamg_meteorologischemessdatenderzamg">ZAMG –  Zentralanstalt für Meteorologie und Geodynamik</a> (CC BY 3.0 AT)</li>
        <li><a href="https://www.youtube.com/seestadttv">Seestadt TV</a></li>
      </ul>

      <h2>Impressum</h2>
      <p>
        Philipp Naderer-Puiu, Gisela-Legath-Gasse 5/27, 1220 Wien<br>
        Alle Angaben ohne Gewähr und Nutzung nur unter ausdrücklichem Haftungsausschluss.
      </p>
      <p>
        Dieses Projekt verwendet <a href="https://fontawesome.com/license">Font Awesome Icons</a>.
      </p>
    </div>
  </div>
</template>
<script>
  import {mapState} from "vuex";
  const {siteName} = STADTKATALOG_CONFIG;

  export default {
    name: "about",
    computed: {
      ...mapState([
        "geoFenceName"
      ]),
      proposalUrl: function() {
        return `https://app.stadtkatalog.org/stk/proposeEntry${this.geoFenceName !== null ? "?geoFenceName=" + this.geoFenceName : ""}`;
      }
    },
    created: function() {
      document.title = "Information & Kontakt - " + siteName;
    }
  }
</script>
<style lang="scss">
  @import "~sass-mq";
  @import "src/assets/seestadtbot/mixins";

  .about-wrapper {
    min-height: 100vh;

    font-size: 1.125rem;
    line-height: 1.5rem;

    @include mq($from: desktop) {
      display: grid;
      grid-template-columns: 50% auto;
    }

    @include mq($from: desktop, $until: wide) {
      grid-gap: 35px;
      margin: 0 20px;
    }

    @include mq($from: wide) {
      grid-gap: 60px;
    }

    h1, h2 {
      width: 100%;
      line-height: 1.2;
    }

    .stadtkatalog-button {
      @include button-style;
      font-size: 1.125rem;
      margin: 0;
    }
  }
</style>
