<template>
  <div class="privacy-wrapper">
    <h1>Datenschutzerklärung</h1>
    <p>
      Datenschutz und Schutz der eigenen Privatsphäre wird beim Seestadt-Bot schon beim Design der Bot-Software berücksichtigt. Es werden nur die notwendigen Daten erhoben bzw. so kurz wie möglich auf Servern gespeichert. Die zur Bereitstellung des Dienstes erforderlichen externen Schnittstellen werden mit so wenig wie möglich Daten angesteuert, wobei die Übertragung von personenbezogenen Daten an Dritte nur bei Notwendigkeit und nicht standardmäßig erfolgt.
    </p>
    <p>
      Prinzipiell besteht kein Anspruch auf ein Funktionieren des unentgeltlich bereitgestellten Bot-Dienstes. Die Verwendung des Dienstes kann jederzeit durch Nichtnutzung oder gezielte Löschung eines Chatverlaufes erfolgen. NutzerInnen haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Da in der Regel Messenger-Dienste wie Facebook Messenger dies nicht über die Bot-Schnittstelle an Dienste wie den Seestadt-Bot weitergeben, bitten wir um Kontaktaufnahme per E-Mail, sollte eine aktive Löschung des Chatverlaufs oder anderer personenbezogener Daten gewünscht werden.
    </p>
    <p>
      Der Seestadt-Bot verwendet und verarbeitet personenbezogene Daten zur Bereitstellung des Services. Diese werden von den vermittelnden Messenger-Diensten (u.a. Telegram und Facebook Messenger) automatisch an den Seestadt-Bot übermittelt. Im Fall von Telegram sind das zumindest eine eindeutige User-ID, Vorname und optional noch Nachname, Benutzername und eine eventuelle Spracheinstellung. Im Fall von Facebook Messenger können über die Profile API Vorname, Nachname, Profilbild, Locale-Einstellung, Zeitzone, Geschlecht, Zahlungsservice möglich, Werbe-Link (wenn zuvor angeklickt) abgefragt werden. Keinesfalls werden personenbezogene Daten an Dritte aktiv weitergegeben. Jedoch werden an den Seestadt-Bot gesendete Nachrichten in manchen Fällen für die Bereitstellung des Dienstes an externe Schnittstellen (u.a. Google Cloud Vision API und Google Natural Language API) gesendet werden. Dieser Austausch erfolgt aber nicht mit dem Ziel einer Datenweitergabe, sondern zur generellen Bereitstellung des Dienstes. Die Privacy Policy von Telegram findet man unter <a href="https://telegram.org/privacy">https://telegram.org/privacy</a>, die von Facebook Messenger unter <a href="https://www.facebook.com/full_data_use_policy">https://www.facebook.com/full_data_use_policy</a>.
    </p>
    <p>
      Zur Bereitstellung des Dienstes werden externe Services über eine gesichtere HTTPS-Verbindung eingebunden und abgefragt. Diese sind zum Zeitpunkt der Erstellung dieser Erklärung: StadtKatalog.org (Suche im Branchenverzeichnis), Wiener Linien Echtzeitdatenschnittstelle, statische GTFS-Fahrplandatenabfrage, Google Cloud Vision API und Natural Language API. Die Schnittstelle zur SeestadtFLOTTE wird ausschließlich anonym abgefragt und lässt keinerlei Rückschlüsse auf NutzerInnen zu. Außerdem verwendet der Seestadt-Bot ein internes Tracking basierend auf Matomo, für das die vom Messenger-Dienst mitgesendete User-ID als pseudoanonymisiertes, jedoch identifizierendes Merkmal herangezogen wird. Dieses Tracking dient zur Verbesserung des Dienstes und es werden keine personenbezogenen Daten im Zuge der Analyse an Dritte bereitgestellt.
      Im Web verwendet der Seestadt.bot eine zufällig erzeugte UUID zur Identifikation. Diese kann über die Browser-Einstellungen jederzeit gelöscht werden.
    </p>
    <p>
      Ortsbezogene Daten werden nur dann generiert und ausgewertet, wenn Nutzer das aktiv durch Zusenden an den Seestadt-Bot wünschen. Keinesfalls werden ortsbezogene Daten (Standort, IP zu Standort, etc.) im Hintergrund und ohne vorherige aktive Nutzerinteraktion verwendet. Standortdaten selbst werden durch die Schnittstelle des jeweiligen Messenger-Dienstes angeboten und könnten auch von den jeweiligen Messenger-Diensten zur Analyse verwendet werden. Darauf hat der Seestadt-Bot allerdings keinen Einfluss.
    </p>
    <p>
      Mit dem aktiven Senden einer Nachricht an den Seestadt-Bot wird eine Einwilligung zur Nutzung des Dienstes gegeben. Die dabei anfallenden Daten werden nach bestem Wissen und Gewissen auf durch Firewalls gesicherten Servern gespeichert und verarbeitet. Sie können jederzeit Ihre Einwilligung aktiv per E-Mail widerrufen oder Einsicht in die von Ihnen abgelegten Informationen verlangen. Einsicht oder Widerruf werden so schnell wie möglich bearbeitet, es gilt als Ziel jede Anfrage in bis zu drei Monaten abschließen zu können. Das Service selbst wird unentgeltlich zur Verfügung gestellt und wir bitten daher um Rücksicht, da die Aggregation oder gezielte Sammeln von personenbezogenen Daten in keinster Weise die Absicht des Seestadt-Bot ist, sondern nur auf ein absolutes Minimum beschränkt erfolgt. Deswegen gibt es auch keine automatische Zuordnung der vom Messenger-Dienst bereitgestellten ID zu einem User Profil oder ähnlichem, da keine erweiterten User-Tracking-Profile angelegt werden. Einzig die durch Nutzer aktiv abgeänderte Standardeinstellungen werden mit der entsprechenden User-ID verknüpft, falls diese getroffen werden. Wo möglich werden User-IDs durch Pseudoanonymisierung geschützt.
    </p>
    <h3>Datenerfassung durch den Bot</h3>
    <ul>
      <li><strong>User-ID</strong> – die vom jeweiligen Messenger-Dienst bereitgestellte ID, um auf Nachrichten an den Bot auch gezielt antworten zu können.</li>
      <li><strong>Server-Logs</strong> – um das Funktionieren des Seestadt-Bots zu gewährleisten und seine Qualität zu verbessern, werden alle Nachrichten in eine Log-Datei geschrieben und eventuelle Suchergebnisse, NLU-Analysedaten, etc. im Zuge der Beantwortung der Nachricht.</li>
    </ul>
    <p>Wird der Seestadt-Bot über Facebook Messenger genutzt, so speichert Facebook automatisch jede Nachricht im Posteingang („Inbox“) der Seite vom Seestadt-Bot. Dieser Posteingang kann nur von Administratoren eingesehen werden, nicht jedoch von Dritten.</p>
    <h2>Hinweis zur verantwortlichen Stelle</h2>
    <p>
      Bei Fragen oder Auskunftsansuchen wenden Sie sich bitte an:
      <span style="unicode-bidi:bidi-override; direction: rtl;">reredan</span><span style="unicode-bidi:bidi-override; direction: rtl;">@tobtdatsees</span><span style="display:none">-mai</span>-puiu.at
    </p>
    <p>
      Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:<br>
      Philipp&nbsp;Naderer-Puiu, Gisela-Legath-Gasse&nbsp;5/27, 1220&nbsp;Wien
    </p>
    <h3>Externe Auftragsverarbeiter / Dienstleister</h3>
    <p>
      Um den Seestadt-Bot bereitzustellen, ist er auf folgende externe Dienstleister bzw. Auftragsverarbeiter angeweisen, welche personenbezogene Daten verarbeiten können:
    </p>
    <ul>
      <li><strong>Telegram Messenger LLP</strong> – <a href="https://telegram.org/privacy">Privacy Policy</a></li>
      <li><strong>Facebook Messenger / Facebook Inc.</strong> – <a href="https://www.facebook.com/policy.php">Privacy Policy</a></li>
      <li><strong>Google Cloud Services / Google LLC</strong> – App Engine Hosting, NLU-Textanalyse und Bildverarbeitung – <a href="https://cloud.google.com/security/privacy/">Privacy Policy</a></li>
      <li><strong>DigitalOcean, LLC</strong> – Hosting – <a href="https://www.digitalocean.com/security/gdpr/data-processing-agreement/">Customer GDPR Data Processing Agreement </a></li>
    </ul>
    <h3>Widerruf der Einwilligung zur Datenverarbeitung</h3>
    <p>
      NutzerInnen können eine bereits erteilte Einwilligung jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.
    </p>
    <h3>Für den Betrieb von Seestadt.bot verantwortlich</h3>
    <p>
      Philipp Naderer-Puiu<br>
      Gisela-Legath-Gasse 5/27, 1220 Wien
    </p>
    <p><em>Zweite Fassung, gültig ab 1. Juli 2020.</em></p>
  </div>
</template>
<script>
  import {mapState} from "vuex";
  const {siteName} = STADTKATALOG_CONFIG;

  export default {
    name: "privacy",
    computed: {
      ...mapState([
        "geoFenceName"
      ]),
      proposalUrl: function() {
        return `https://app.stadtkatalog.org/stk/proposeEntry${this.geoFenceName !== null ? "?geoFenceName=" + this.geoFenceName : ""}`;
      }
    },
    created: function() {
      document.title = "Informationen zum Datenschutz - " + siteName;
    }
  }
</script>
<style lang="scss">
  .privacy-wrapper {
    width: 100%;

    h1, h2 {
      width: 100%;
    }

    p {
      width: 100%;
      font-size: 1rem;
      line-height: 1.5rem;
      margin: 1rem 0;
    }

    li {
      font-size: 1rem;
      line-height: 1.5rem;
      margin: 0.125rem 0;
    }

    .suggest-stadtkatalog-entry {
      margin: 3rem 0;
      text-align: center;
      width: 100%;
    }
  }

  @media (min-width: 50rem) {
    .suggest-stadtkatalog-entry .button {
      font-size: 1.25rem;
      padding: 0.875rem;
    }
  }
</style>
