<template>
  <div class="seestadtbot-hilfe">
    <div class="top-grid">
      <div class="top-grid-content">
        <h1 v-if="isDesktop">Hilfe</h1>
        <h2>Allgemeine Funktionen</h2>
        <ul>
          <li>🌦 Das aktuelle Wetter: <button @click="sendText('Wetter')">Wetter</button></li>
          <li>Wo sind
            <button @click="sendText('Trinkbrunnen')">Trinkbrunnen</button>
            <button @click="sendText('Radbügel')">Radbügel</button>
            <button @click="sendText('Spielplätze')">Spielplätze</button>
            <button @click="sendText('Hundezonen')">Hundezonen</button>
            <button @click="sendText('Parken')">Parken</button>
          </li>
          <li>Den aktuellsten 📺 Beitrag in <button @click="sendText('SeestadtTV')">SeestadtTV</button></li>
        </ul>
        <h2>Seestadt-Verzeichnis</h2>
        <ul>
          <li>
            Der Seestadt.bot kennt alle Geschäfte in der Seestadt inklusive Öffnungszeiten. Einige Beispiele:
            <button @click="sendText('United in Cycling')">United in Cycling</button>
            <button @click="sendText('Leo')">Leo</button>
            <button @click="sendText('Eissalon')">Eissalon</button>
            <button @click="sendText('Seeseiten')">Seeseiten</button>
            <button @click="sendText('Hofer')">Hofer</button>
            <button @click="sendText('SPAR')">SPAR</button>
            <button @click="sendText('Apotheke')">Apotheke</button>
          </li>
          <li>
            Du kannst aber auch nach Ärztinnen und Ärzten suchen:
            <button @click="sendText('HNO Sabathi')">HNO Sabathi</button>
            <button @click="sendText('Valipour')">Dr. Valipour</button>
            <button @click="sendText('Maktari')">Dr. Maktari</button>
            <button @click="sendText('Kinderärztin')">Kinderärztin</button>
          </li>
          <li>
            Wenn du Fehler in den Daten findest, melde sie direkt im Seestadt.bot mit <a href="https://app.stadtkatalog.org/stk/proposeEntry" target="_blank">„Fehler melden“</a>.
            So verbesserst du den Seestadt.bot für alle 👍
          </li>
        </ul>
        <h2>Öffis und Mobilität</h2>
        <ul>
          <li>🚲 E-Leihräder: <button @click="sendText('Flotte')">Flotte</button> bzw. <button @click="sendText('SeestadtFLOTTE')">SeestadtFLOTTE</button></li>
          <li>🚇🚌 Für die Öffis gibt es <strong>drei Kurzkommandos</strong>:
            <ul>
              <li>Liste aller Stationen: <button @click="sendText('S')">S</button> bzw. <button @click="sendText('Stationen')">Stationen</button></li>
              <li>Bus 84A: <button @click="sendText('B')">B</button> bzw. <button @click="sendText('Bus')">Bus</button></li>
              <li>U-Bahn U2: <button @click="sendText('U')">U</button> bzw. <button @click="sendText('U2')">U2</button> bzw. <button @click="sendText('U-Bahn')">U-Bahn</button></li>
            </ul>
            Für das Bus-Kommando „B“ ist die Standard-Haltestelle <em>Hannah-Arendt-Platz</em>.
            Für das U-Bahn-Kommando „U“ die Endstation <em>Seestadt</em>.
          </li>
          <li>
            Einzelne Haltestellen können mit einem <strong>Stationskürzel</strong> abgefragt werden:
            <ul>
              <li>Johann-Kutschera-Gasse: <button @click="sendText('JKG')">JKG</button></li>
              <li>Hannah-Arendt-Platz: <button @click="sendText('HAP')">HAP</button></li>
              <li>Maria-Trapp-Platz: <button @click="sendText('MTP')">MTP</button></li>
              <li>Seestadt: <button @click="sendText('SEE')">SEE</button></li>
              <li>Aspern Nord: <button @click="sendText('NOR')">NOR</button></li>
              <li>Hausfeldstraße: <button @click="sendText('HAU')">HAU</button></li>
              <li>Aspernstraße: <button @click="sendText('ASP')">ASP</button></li>
            </ul>
          </li>
          <li>
            Mit der Kombination <strong>Kommando + Stationskürzel</strong> kann man Abfragen auf die U2 bzw. die
            Buslinie 84A filtern:
            <ul>
              <li>84A Seestadt: <button @click="sendText('B SEE')">B SEE</button></li>
              <li>U2 Seestadt: <button @click="sendText('U SEE')">U SEE</button></li>
              <li>84A Aspernstraße: <button @click="sendText('B ASP')">B ASP</button></li>
              <li>U2 Aspernstraße: <button @click="sendText('U ASP')">U ASP</button></li>
            </ul>
          </li>
        </ul>
        <h2>Verwende den Bot in Chat-Apps</h2>
        <div class="messenger-link-buttons">
          <a href="https://telegram.me/SeestadtBot" target="_blank"><img src="../../assets/seestadtbot/telegram.svg" alt="" />Telegram</a>
          <a href="https://m.me/SeestadtBot" target="_blank"><img src="../../assets/seestadtbot/messenger.svg" alt="" />Messenger</a>
        </div>
      </div>
      <div class="top-grid-bot" v-if="isDesktop">
        <bot ref="seestadtbot" :fullscreen="!isDesktop"></bot>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapState} from "vuex";
  import Bot from "../Bot";

  const {siteName} = STADTKATALOG_CONFIG;

  export default {
    name: "seestadtbothelp",
    components: {
      Bot,
    },
    data () {
      return {
        isDesktop: true,
      }
    },
    computed: {
    },
    methods: {
      sendText(text) {
        if (this.isDesktop) {
          this.$refs.seestadtbot.sendText(text);
          window.scrollTo(0,0);
        } else {
          this.$router.push({ path: "/", query: { text }});
        }
      },
    },
    created() {
      const mql = window.matchMedia("(min-width: 1020px)");
      this.isDesktop = mql.matches === true;

      try {
        // Chrome & Firefox
        mql.addEventListener("change", () => {
          this.isDesktop = mql.matches === true;
        });
      } catch (e1) {
        try {
          // Safari
          mql.addListener((e) => {
            this.isDesktop = mql.matches === true;
          });
        } catch (e2) {
          console.error(e2);
        }
      }

      document.title = "Hilfe - " + STADTKATALOG_CONFIG.siteName;
    }
  }
</script>

<style lang="scss">
  @import "~sass-mq";
  @import "../../assets/base";
  @import "../../assets/seestadtbot/mixins";

  .seestadtbot-hilfe {
    @include mq($until: desktop) {
      .something-missing {
        display: none;
      }
    }

    .top-grid {
      @include mq($from: desktop) {
        display: grid;
        grid-template-rows: minmax(calc(100vh - var(--header-height-full)), auto);
        grid-template-columns: 50% auto;
      }

      @include mq($from: desktop, $until: wide) {
        grid-gap: 35px;
        margin: 0 20px;
      }

      @include mq($from: wide) {
        grid-gap: 60px;
      }
    }

    .top-grid-content {
      font-size: 1.125rem;
      line-height: 1.5rem;

      h1 {
        font-size: 2.5rem;
        margin: 30px 0;
        text-align: center;
      }

      h2 {
        margin: 20px 0 0.5rem 0;
        text-align: center;
      }

      ul + h2 {
        margin-top: 50px;
      }

      p {
        margin: 0.75rem 0;
      }

      strong {
        font-weight: 700;
      }

      .messenger-link-buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0 40px 0;

        a {
          @include button-style;

          max-width: 50%;
          font-size: 1.6rem;
          margin-left: 0.5rem;

          img {
            height: 2rem;
            width: auto;
            margin-right: 10px;
          }
        }
      }

      li {
        margin: 0.85rem 0;

        button {
          display: inline-flex;
          align-items: center;
          @include button-reset;
          vertical-align: text-top;
          color: #fff;
          font-size: 0.75rem;
          height: 1.5rem;
          padding: 0 0.5rem;
          margin-left: 5px;
          border-radius: 0.5rem;
          background: var(--header-color);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

          &:hover,
          &:focus {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          }

          &::after {
            content: "";
            display: inline-block;
            background: url("../../assets/seestadtbot/play.svg") no-repeat;
            background-size: contain;
            width: 0.75rem;
            height: 0.75rem;
            margin-left: 4px;
          }
        }
      }
    }

    /**
   * The chatbot messaging UI
   */
    .top-grid-bot {
      @include mq($until: desktop) {
        position: fixed;
        top: var(--header-height-small);
        left: 0;
        right: 0;
        bottom: 0;
      }

      @include mq($from: desktop) {
        .messaging {
          height: calc(100vh - var(--header-height-full) - 45px);
          margin: 20px 0;
          border: 1px solid #cfcfcf;
          border-radius: 15px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

          &:hover,
          &:focus,
          &:focus-within {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          }
        }
      }
    }
  }
</style>
