<template>
  <div class="about-wrapper">
    <h1>Information & Kontakt</h1>
    <p>
      Alle Einträge in diesem Verzeichnis wurden von Freiwilligen zusammengetragen und werden laufend aktuell gehalten.
      Da es sich aber um ein Freizeitprojekt handelt, kann für eine Richtigkeit und ständige Aktualität nicht garantiert werden.
      Du kannst aber mithelfen und Daten eintragen oder verbessern!
    </p>

    <p class="suggest-stadtkatalog-entry">
      <a :href="proposalUrl" class="button">
        Daten verbessern oder Fehler melden
      </a>
    </p>

    <h2>Impressum</h2>
    <p>
      Philipp Naderer-Puiu, Gisela-Legath-Gasse 5/27, 1220 Wien<br>
      Alle Angaben ohne Gewähr und Nutzung nur unter ausdrücklichem Haftungsausschluss.
    </p>

    <p>
      Alle angebotenen Daten stehen unter einer offenen Creative Commons-Lizenz zur freien Verfügung.
      Sie müssen jeglichen öffentlichen Gebrauch der Datenbank oder daraus produzierte Werke nennen / kennzeichnen.
      Bei jeglichem Gebrauch oder Neuverteilung der Datenbank, muss die Lizenz der Datenbank jedem kenntlich gemacht werden,
      müssen Sie Dritten die Lizenzbedingungen der Datenbank deutlich machen und jeglichen Hinweise auf der
      ursprünglichen Datenbank unversehrt lassen.
      Quelle: (CC BY 4.0) – StadtKatalog.org
    </p>
    <h2>Datenquellen</h2>
    <ul>
      <li><a href="https://www.StadtKatalog.org">StadtKatalog.org</a> (CC BY 4.0)</li>
      <li>Adressdaten der <a href="https://data.wien.gv.at">Stadt Wien</a> (CC BY 4.0)</li>
      <li>Grundkarte von <a href="https://basemap.at">Basemap.at</a> (CC BY 4.0)</li>
    </ul>
    <p>
      Dieses Projekt verwendet <a href="https://fontawesome.com/license">Font Awesome Icons</a>.
    </p>
  </div>
</template>
<script>
  import {mapState} from "vuex";
  const {siteName} = STADTKATALOG_CONFIG;

  export default {
    name: "about",
    computed: {
      ...mapState([
        "geoFenceName"
      ]),
      proposalUrl: function() {
        return `https://app.stadtkatalog.org/stk/proposeEntry${this.geoFenceName !== null ? "?geoFenceName=" + this.geoFenceName : ""}`;
      }
    },
    created: function() {
      document.title = "Information & Kontakt - " + siteName;
    }
  }
</script>
<style lang="scss">
  .about-wrapper {
    width: 100%;

    h1, h2 {
      width: 100%;
    }

    p {
      width: 100%;
      font-size: 1rem;
      line-height: 1.5rem;
      margin: 1rem 0;
    }

    .suggest-stadtkatalog-entry {
      margin: 3rem 0;
      text-align: center;
      width: 100%;
    }
  }

  @media (min-width: 50rem) {
    .suggest-stadtkatalog-entry .button {
      font-size: 1.25rem;
      padding: 0.875rem;
    }
  }
</style>
