<template>
  <div class="entry-content">
    <div v-if="!initialized" class="loading-wrapper">
        wird geladen …
    </div>
    <div v-else-if="error !== ''">
      <h1>Fehler</h1>
      {{ error }}
    </div>
    <div v-else-if="entry !== null">
      <div class="title-image" v-if="titleAsset !== null">
        <img
          :src="titleAsset.versions.title1x"
          sizes="(max-width: 50em) 100vw, 100%"
          :srcset="titleAsset.versions.title1x + ' 1120w, ' + titleAsset.versions.title2x + ' 2240w'"
          alt=""
          :title="titleAsset.spdxLicense + ' ' + titleAsset.licenseInformation"
        >
      </div>
      <h1 class="entry-name">{{ entry.data.name }}</h1>
      <p class="entry-description">{{ entry.data.description }}</p>

      <div v-if="hasPromotions">
        <h2>Aktionen und Angebote</h2>
        <sk-entry-promotions :promotions="currentPromotions"></sk-entry-promotions>

        <h2>Details und Kontaktdaten</h2>
      </div>

      <div class="details">
        <div>
          <dl class="entry-details">
            <dt>Adresse</dt>
            <dd>{{ entry.data.address }}<br>{{ entry.data.postalCode }} {{ entry.data.city }}</dd>

            <template v-if="entry.data.website !== ''">
              <dt>Webseite</dt>
              <dd><a :href="entry.data.website" rel="nofollow noopener">{{ entry.data.website }}</a></dd>
            </template>

            <template v-if="entry.data.email !== '' && !entry.data.emailHidden">
              <dt>E-Mail</dt>
              <dd><a :href="'mailto:' + entry.data.email">{{ entry.data.email }}</a></dd>
            </template>

            <template v-if="entry.data.phone !== ''">
              <dt>Telefon</dt>
              <dd><a :href="'tel:' + entry.data.phone">{{ entry.data.phone }}</a></dd>
            </template>

            <template v-if="entry.data.twitter !== ''">
              <dt>Twitter</dt>
              <dd><a :href="'https://twitter.com/' + entry.data.twitter">@{{ entry.data.twitter }}</a></dd>
            </template>

            <template v-if="entry.data.facebook !== ''">
              <dt>Facebook</dt>
              <dd><a :href="'https://www.facebook.com/' + entry.data.facebook">{{ entry.data.facebook }}</a></dd>
            </template>

            <template v-if="entry.data.instagram !== ''">
              <dt>Instagram</dt>
              <dd><a :href="'https://www.instagram.com/' + entry.data.instagram + '/'">{{ entry.data.instagram }}</a></dd>
            </template>

            <template v-if="entry.data.foursquare !== ''">
              <dt>Foursquare</dt>
              <dd><a :href="'https://de.foursquare.com/v/' + entry.data.foursquare">Foursquare-Seite</a></dd>
            </template>

            <template v-if="entry.data.uid !== ''">
              <dt>UID-Nummer</dt>
              <dd>{{ entry.data.uid }}</dd>
            </template>

            <template v-if="entry.data.zvr !== ''">
              <dt>ZVR-Nummer</dt>
              <dd>{{ entry.data.zvr }}</dd>
            </template>

            <template v-if="parentEntry">
              <dt>Innerhalb von</dt>
              <dd><a :href="parentEntry.id">{{ parentEntry.data.name }}</a></dd>
            </template>
          </dl>

          <div v-if="hasOpeningHours">
            <h3>Öffnungszeiten</h3>
            <sk-entry-hours
              :hours="entry.data.hours"
              :remark="entry.data.hoursRemark"
            ></sk-entry-hours>
          </div>

          <div v-if="hasEnclosures" class="entry-enclosures">
            <h3>Innerhalb von {{ entry.data.name }}:</h3>
            <ul>
              <li v-for="enclosure in enclosures" :key="enclosure.id">
                <a :href="'/entry/' + enclosure.id">{{ enclosure.data.name }}</a>
              </li>
            </ul>
          </div>

        </div>

        <div class="map">
          <v-map :zoom="18" :minZoom="12" :maxZoom="18" :center="latLng">
            <v-tilelayer
              :url="mapUrl"
              :options="mapOptions"
              attribution="<a href='http://basemap.at' target='_blank'>basemap.at CC-BY 3.0</a>"
            />
            <v-marker :lat-lng="latLng" />
          </v-map>
        </div>
      </div>
      <!--
    "tags",
    "validUntil"
      -->

    </div>

    <div v-if="assets.length > 0" class="entry-images">
      <div v-for="asset in assets" class="entry-image" :key="asset.master">
        <img
          :src="asset.versions.medium"
          alt=""
        />
        <span class="image-license">{{ asset.spdxLicense }} {{ asset.licenseInformation }}</span>
      </div>
    </div>

    <div class="entry-footer">
      <router-link to="/" class="button">Zur Startseite</router-link>
      <router-link
        v-if="entry !== null"
        :to="{ name: 'sk-map', query: { center: latLng.join(',') } }"
        class="button map-link">
        Auf Gesamtkarte anzeigen
      </router-link>
      <a :href="proposeEditUrl" class="button">Fehler melden</a>
    </div>
  </div>
</template>

<script>
  import {getEntry, getEntryEnclosures} from "@stadtkatalog/stadtkatalog";
  import * as moment from "moment";
  import shuffle from "lodash.shuffle";
  import {mapState} from "vuex";
  import SkEntryHours from "./EntryHours";
  import SkEntryPromotions from "./EntryPromotions";
  import {OpeningHours} from "@stadtkatalog/openinghours";

  const {siteName} = STADTKATALOG_CONFIG;
  const API_URL = process.env.STK_API_ENDPOINT;
  const RETINA = (function(window) {
    if (window.matchMedia) {
      let mq = window.matchMedia("only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 2.6/2), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen  and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx)");
      return (mq && mq.matches || (window.devicePixelRatio > 1));
    }
  })(window);

  export default {
    name: "sk-entry",
    components: {
      SkEntryPromotions,
      SkEntryHours
    },
    props: {
      maximumEnclosures: {
        type: Number,
        default: 12
      }
    },
    data () {
      return {
        initialized: false,
        error: "",
        entry: null,
        enclosures: [],
        assets: [],
        titleAsset: null,
        parentEntry: null,
        mapOptions: {
          subdomains: ["maps", "maps1", "maps2", "maps3", "maps4"]
        }
      }
    },
    computed: {
      ...mapState([
        "geoFenceName"
      ]),
      latLng: function() {
        return this.entry ? [this.entry.data.latitude, this.entry.data.longitude] : [0,0];
      },
      mapUrl: function() {
        return "https://{s}.wien.gv.at/basemap/" +
          (RETINA ? "bmaphidpi" : "geolandbasemap") + "/normal/google3857/{z}/{y}/{x}." +
          (RETINA ? "jpeg" : "png");
      },
      proposeEditUrl: function() {
        if (this.entry) {
          return `https://app.stadtkatalog.org/stk/proposeEntry/${this.entry.id}` +
            `${this.geoFenceName !== null ? "?geoFenceName=" + this.geoFenceName : ""}`
        } else {
          return "";
        }
      },
      hasOpeningHours: function() {
        if (!this.entry) {
          return false;
        }

        const oh = new OpeningHours(this.entry.data.hours, "Europe/Vienna", []);
        return !oh.isUnknown() || this.entry.data.hoursRemark !== "";
      },
      hasEnclosures: function() {
        return this.entry && Array.isArray(this.enclosures) && this.enclosures.length > 0;
      },
      currentPromotions: function() {
        const now = moment();
        return this.entry.data.promotions
          .map(promotion => {
            promotion.start = moment(promotion.start, "YYYY-MM-DDTHH:mm:ss.SSSZZ");
            promotion.end = moment(promotion.end, "YYYY-MM-DDTHH:mm:ss.SSSZZ");

            return promotion;
          })
          .filter(promotion => promotion.start.isSameOrAfter(now) && promotion.end.isSameOrAfter(now));
      },
      hasPromotions: function() {
        return this.currentPromotions.length > 0;
      }
    },
    methods: {
      setDocumentTitle(name, label) {
        let documentName = name;
        if (documentName.length > 30 && typeof label === "string" && label.length > 1) {
          documentName = label;
        }

        document.title = documentName + " - " + siteName;
      }
    },
    async created() {
      if (/^[1-9][0-9]{5,}$/.test(this.$route.params.id || "")) {
        try {
          const entry = await getEntry(this.$route.params.id)

          if (entry === null) {
            this.error = "Dieser Eintrag existiert nicht mehr / konnte nicht gefunden werden.";
          } else {
            const jpegs = entry.assets.filter(asset => asset.mimeType === "image/jpeg");
            const titleImages = shuffle(jpegs.filter(asset => asset.category === "title"));
            const storefrontImages = shuffle(jpegs.filter(asset => asset.category === "storefront"));
            const otherImages = shuffle(jpegs.filter(asset => ["storefront", "unknown", "menu", "title"].includes(asset.category) === false));
            const listImages = storefrontImages.concat(otherImages);
            this.titleAsset = titleImages.length > 0
              ? titleImages[0]
              : listImages.length > 0
                ? listImages[0]
                : null;
            this.assets = titleImages.length > 0
              ? listImages
              : listImages.length > 1
                ? listImages.slice(1).concat([listImages[0]])
                : listImages;

            if (entry.data.insideOf !== null) {
              this.parentEntry = await getEntry(entry.data.insideOf);
            } else {
              this.parentEntry = null;
            }

            if (entry.hasEnclosures) {
              this.enclosures = getEntryEnclosures(this.$route.params.id, this.maximumEnclosures);
            } else {
              this.enclosures = [];
            }

            this.entry = entry;
            this.setDocumentTitle(this.entry.data.name, this.entry.data.label);
          }
        } catch (e) {
          console.error(e);
          this.error = "Eintrag konnte nicht geladen werden!";
        } finally {
          this.initialized = true;
        }
      } else {
        this.error = "Ungültige ID.";
        this.initialized = true;
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "~sass-mq";

  .seestadtbot .entry-content {
    max-width: 70em;
    margin: 0 auto;
  }

  .loading-wrapper {
    text-align: center;
    padding-top: 2rem;
    color: #ccc;
  }

  .title-image {
    width: 100%;
    img {
      width: 100%;
      aspect-ratio: 3.294;
    }
  }

  .entry-name {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 2.5rem 0;

    .seestadtbot & {
      font-size: 3.8rem;
      line-height: 4.6rem;
      font-weight: 600;
    }
  }

  .seestadtbot .title-image {
    overflow: hidden;
  }

  @include mq($until: tablet) {
    .seestadtbot .title-image + .entry-name {
      margin-top: 5px;
    }
  }

  @include mq($from: tablet) {
    .seestadtbot .title-image + .entry-name {
      padding-top: 32px;
      margin: 0;
    }
  }

  .entry-description {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 2.5rem 0 3.125rem 0;

    .seestadtbot & {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  .entry-images {
    margin: 3.125rem 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    .entry-image {
      width: 47.5%;
      padding-bottom: 0.75rem;

      img {
        width: 100%;
      }

      + .entry-image {
        margin-bottom: 2rem;
      }
    }

    .image-license {
      font-size: 0.75rem;
      color: #8d8d8d;
    }
  }

  .details {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-auto-flow: column;
    grid-column-gap: 5%;
    min-height: 250px;

    p {
      font-size: 1rem;
      line-height: 1.375rem;
    }
  }

  .entry-details {
    margin: 0;
    display: flex;
    flex-flow: row wrap;

    dt, dd {
      margin: 0 0 0.5rem 0;
      padding: 0;
    }

    $left-col-width: 7.375rem;
    dt {
      flex: 1 1 auto;
      width: $left-col-width;
    }

    dd {
      flex: 1 1 auto;
      display: block;
      width: calc(100% - #{$left-col-width});
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .entry-enclosures {
    h3 {
      margin-bottom: 0.375rem;
    }

    ul {
      list-style: none;
      display: block;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;

        &::after {
          content: ",";
          padding-left: 1px;
          margin-right: 0.375rem;
        }

        &:last-child::after {
          content: "";
        }
      }
    }
  }

  .map {
    height: 100%;
  }

  .entry-footer {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;

    a {
      flex: 1 1 auto;
      max-width: 30%;
      text-align: center;
    }
  }

  @media (max-width: 70em) {
    .title-image {
      width: calc(100% + 20px);
      margin: 0 -10px;
    }
  }

  @media (min-width: 70.01em) {
    .title-image {
      height: 340px;
    }
  }

  @media (max-width: 50em) {
    .entry-name {
      font-size: 1.75rem;
      font-weight: 700;
      margin: 1.5rem 0;

      .seestadtbot & {
        font-size: 1.8rem;
        line-height: 1.4;
      }
    }

    .entry-description {
      font-size: 1.125rem;
      line-height: 1.5rem;
      margin: 1.5rem 0;
      hyphens: auto;

      .seestadtbot & {
        font-size: 1.125rem;
        line-height: 1.4;
      }
    }

    .details {
      display: block;
    }

    .entry-details {
      margin: 1.5rem 0;
      display: block;

      dt {
        width: 100%;
        font-weight: 700;
        margin: 0.75rem 0 0.25rem 0;
      }

      dd {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .entry-images {
      .entry-image {
        $sm-bottom-margin: 1.5rem;

        width: 100%;
        padding-bottom: 0.25rem;
        margin-bottom: $sm-bottom-margin;

        + .entry-image {
          margin-bottom: $sm-bottom-margin
        }
      }
    }

    .entry-footer {
      flex-wrap: wrap;
      justify-content: space-around;

      a {
        display: block;
        width: 100%;
        max-width: 25rem;
        text-align: center;
        margin-bottom: 0.625rem;
      }
    }

    .map {
      margin-top: 1.5rem;
      height: 70vh;
      max-height: 360px;
    }
  }
</style>
<style lang="scss">
  .entry-hours-wrapper {
    h3 {
      font-size: 1rem;
      margin: 0.5rem 0 0.25rem;
    }

    td {
      padding-bottom: 0.1875rem;
    }
  }
</style>
