<template>
  <div class="entry-hours-wrapper">
    <template v-if="!openingHours.isUnknown()">
      <table>
        <tr v-for="hours in normalHours" :key="hours.range">
          <td>{{ hours.range }}</td>
          <td>{{ hours.timespan }}</td>
        </tr>
      </table>
      <div v-if="specialHours.length > 0">
        <h3>Sonderöffnungszeiten</h3>
        <table>
          <tr v-for="hours in specialHours" :key="hours.range">
            <td>{{ hours.range }}</td>
            <td>{{ hours.timespan }}</td>
          </tr>
        </table>
      </div>
    </template>
    <p v-else-if="remark" class="hoursRemark">{{ remark }}</p>
    <div v-else>
      <em>Keine detaillierten Öffnungszeiten bekannt.</em>
    </div>
  </div>
</template>
<script>
  import {OpeningHours} from "@stadtkatalog/openinghours";

  export default {
    name: "sk-entry-hours",
    props: {
      hours: {
        type: Object,
        required: true
      },
      remark: {
        type: String
      }
    },
    data () {
      return {}
    },
    computed: {
      openingHours() {
        return new OpeningHours(this.hours, "Europe/Vienna", []);
      },
      reducedHours() {
        return this.openingHours.reduce({
          closedPlaceholder: "geschlossen",
          delimiter: " und ",
          holidayPrefix: "Feiertags",
          locale: "de-AT",
          specialDates: "dd. MM. yyyy",
          timeFrameDelimiter: " und ",
          timeFrameFormat: "{start} bis {end}",
          weekdayFormat: "short"
        });
      },
      normalHours() {
        return this.reducedHours.filter(hours => {
          return hours.type === "weekday"
            ? true
            : hours.type === "holiday"
              ? hours.timespan !== "geschlossen"
              : false;
        });
      },
      specialHours() {
        return this.reducedHours.filter(hours => hours.type === "special");
      },
    },
    methods: {

    }
  }
</script>
<style scoped>
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  p {
    font-size: 1rem;
    line-height: 1.375rem;
  }

  td {
    padding-left: 0;
    margin: 0;
    font-size: 1rem;
    line-height: 1.2rem;
  }
</style>
