<template>
  <div class="privacy-wrapper">
    <h1>Nutzungsmessung deaktivieren</h1>
    <iframe
      style="border: 0; height: 10rem; width: 100%;"
      src="https://stats.pnp-appserver.xyz/index.php?module=CoreAdminHome&action=optOut&language=de&backgroundColor=&fontColor=&fontSize=&fontFamily=Roboto,sans-serif"
    ></iframe>

    <h1>Datenschutzerklärung</h1>
    <p>
      <strong>Das Wichtigste vorweg: Der StadtKatalog ist ein Verzeichnis von nicht-personenbezogenen Daten, benötigt aber für die Datenpflege gewisse personenbezogene Daten.</strong>
    </p>
    <p>
      <strong>Für die öffentlichen Webseiten www.stadtkatalog.org und www.seestadt.city erfolgt eine allgemeine Messung der Nutzung basierend auf personenbezogenen Daten, welche allerdings nur in pseudoanonymisierter Form verarbeitet werden.</strong>
    </p>
    <p>
      Der StadtKatalog ist ein von Philipp Naderer-Puiu bereitgestellter Dienst und wird im nachfolgenden als „StadtKatalog“, „wir“, „uns“, „unser“ bezeichnet.
      Diese Datenschutzrichtlinien gelten für die Verarbeitung von Informationen die der StadtKatalog von AdministratorInnen, RedakteurInnen und anderen Einzelpersonen sammeln bzw. dauerhaft speichert.
    </p>

    <h2>Präambel</h2>
    <p>
      Die im StadtKatalog abgespeicherten offenen Daten enthalten prinzipiell keine personenbezogenen Informationen, da es sich um Informationen rund um Unternehmer, Vereine und öffentliche Initiativen handelt. Eventuell angegebene Kontaktpersonen oder für die allgemeine Kommunikation genutzten E-Mail-Kontaktadressen sind für die öffentliche Verbreitung bestimmt und dienen zum Kontakt mit den vorhin genannten juristischen oder natürlichen Personen. Sollte ein Eintrag in den StadtKatalog fälschlicherweise personenbezogene Daten enthalten, so kann dieser jederzeit dauerhaft entfernt werden.
    </p>
    <p>
      Für die Einsendung von Einträgen oder Änderungsvorschlägen und während der Nutzung der öffentlichen Webseite werden jedoch personenbezogene Daten erhoben. Diese dienen für eventuelle Nachfragen oder zur Verifizierung der eingesandten Daten, werden jedoch nicht an Dritte weitergegeben. Sie sind auch nicht über die öffentliche Datenschnittstelle einsehbar und können nur von AdministratorInnen und RedakteurInnen vom StadtKatalog eingesehen werden.
    </p>
    <p>
      Für die Anmeldung und Bearbeitung von Einträgen werden personenbezogene Daten von gesondert registrierten AdministratorInnen und RedakteurInnen gespeichert und verarbeitet. Dies ist notwendig um das StadtKatalog-Managementsystem zu betreiben und redaktionelle Änderungen auf Dauer nachvollziehbar zu gestalten.
    </p>

    <h2>Zweck der Verarbeitungstätigkeiten</h2>
    <p>Prinzipiell werden bei der reinen Nutzung vom StadtKatalog so wenig wie möglich personenbezogene Daten erhoben. Wir verwenden die von Ihnen angegebenen personenbezogenen Daten nur soweit Ihre Daten zur Erfüllung des jeweiligen Zwecks notwendig sind; z.B.</p>
    <ul>
      <li>zur technischen Erbringung der Dienste;</li>
      <li>zur Erfüllung einer gesetzlichen Verpflichtung;</li>
      <li>für Nutzungsauswertung und -analyse;</li>
      <li>zur technischen Protokollierung der Systembenutzung;</li>
      <li>für den Berechtigungsprozess im Datenmanagementsystem;</li>
      <li>zur Auswertung der Server-Logdateien zur Problemanalyse;</li>
      <li>zur Beantwortung einer Frage, die Sie an den StadtKatalog stellen.</li>
    </ul>
    <p>Sämtliche unter stadtkatalog.org selbst erhobene personenbezogene Daten werden nur von StadtKatalog selbst verarbeitet und nicht an weitere Dienstleister zur Weiterverarbeitung übertragen.</p>

    <h2>Datenerhebung bei Nutzung der Webseite</h2>
    <p>Im Zuge Ihres Besuches dieser Website werden wir folgende personenbezogene Daten über Sie automatisch erheben:</p>
    <ul>
      <li>Datum und die Uhrzeit des Aufrufs einer Webseite (URL)</li>
      <li>IP-Adresse</li>
      <li>Name und Version Ihres Web-Browsers</li>
      <li>die Webseite (URL), die Sie vor dem Aufruf dieser Website besucht haben</li>
      <li>einen sogenannten Zähl-Cookie</li>
    </ul>
    <p>Diese Daten werden in pseudoanonymisierter Form vom eingesetzten Zählsystem Matomo (vormals Piwik) erhoben. Diese Daten werden nicht an Dritte weitergegeben, sondern einzig zur Auswertung der Besuche auf StadtKatalog.org bzw. seestadt.city herangezogen.</p>

    <h2>Datenerhebung bei AdministratorInnen und RedakteurInnen</h2>
    <p>Die folgenden personenbezogenen Daten werden nur unter app.stadtkatalog.org für eingeloggten AdministratorInnen und RedakteurInnen erhoben:</p>
    <ul>
      <li>Vollständiger Name</li>
      <li>E-Mail-Adresse</li>
      <li>Telefonnummer (bei SMS-Authentifizierung)</li>
      <li>Webseite</li>
      <li>Firebase Unique User ID</li>
      <li>Änderungsprotokolle der einzelnen Datensätze</li>
    </ul>

    <h2>Rechte von NutzerInnen, AdministratorInnen und RedakteurInnen</h2>

    <p>Im StadtKatalog wird zwischen personenbezogenen Daten und öffentlichen, ausdrücklich nicht personenbezogenen Daten („Unternehmensinformationen“ bzw. kurz „Einträge“) unterschieden. Ihre personenbezogenen Daten sind Ihre Daten! Sie haben nach § 26 Datenschutzgesetz (DSG) jederzeit das Recht, Auskunft über Art und Umfang der über Sie gespeicherten Daten zu erhalten. Nach § 27 Datenschutzgesetzt haben Sie zudem ein Recht auf Richtigstellung falscher Daten und Löschung von Daten. Folgende Rechte stehen daher allen NutzerInnen, AdministratorInnen und RedakteurInnen zu:</p>

    <h3>Recht auf Auskunft</h3>
    <p>Sie haben das Recht, von uns Auskunft darüber zu verlangen, wie Ihre Daten verwendet werden, und Sie können eine Kopie Ihrer durch uns verarbeiteten Daten anfordern. Die Ausübung Ihres Auskunftsrechts darf die Rechte anderer Personen nicht beeinträchtigen.</p>

    <h3>Löschung der Daten</h3>
    <p>Sie haben das Recht, die Löschung Ihrer personenbezogenen Daten zu verlangen, sofern diese nicht noch aufgrund einer anderen Rechtsgrundlage verarbeitet werden. Sie haben weiters auch das Recht, eine ordentliche Berichtigung Ihrer Daten zu verlangen.</p>

    <h3>Widerruf</h3>
    <p>Wenn wir Ihre Daten auf der Grundlage Ihrer Einwilligung verarbeiten, können Sie diese Einwilligung jederzeit widerrufen. Dies gilt insbesondere für AdministratorInnen und RedakteurInnen.</p>

    <h3>Beschwerde</h3>
    <p>Sie haben das Recht auf Beschwerde bei der zuständigen Aufsichtsbehörde. Wenn Sie glauben, dass die Verarbeitung Ihrer Daten auf StadtKatalog.org gegen das Datenschutzrecht verstößt, steht Ihnen die Datenschutzbehörde unter dsb.gv.at zur Verfügung.</p>

    <h2>Datensicherheit</h2>
    <p>StadtKatalog.org setzt technische und organisatorische Sicherheitsmaßnahmen ein, um die von den Nutzerinnen bzw. Nutzern durch den Anbieter gespeicherten Daten gegen Manipulation, Zerstörung oder gegen den Zugriff unberechtigter Personen zu schützen. Die bei der Nutzung anfallenden Daten werden nach bestem Wissen und Gewissen auf durch Firewalls gesicherten Servern gespeichert und verarbeitet. Ihre persönlichen Daten werden nur über verschlüsselte Verbindungen (HTTPS bzw. TLS) übertragen.</p>

    <h2>Verantwortliche und Auftragsverarbeiter</h2>
    <p>
      Zum Betrieb vom StadtKatalog wurden im Wesentlichen folgende Services verwendet bzw. Dienstleister mit der Verarbeitung von personenbezogenen Daten beauftragt:
    </p>
    <ul>
      <li><strong>Digital Ocean, LLC</strong> – cloud-basiertes Hosting der StadtKatalog-Software; <a href="https://www.digitalocean.com/security/gdpr/data-processing-agreement/">Customer GDPR Data Processing Agreement</a></li>
      <li><strong>Google LLC / Google Ireland Limited</strong> – „Firebase Auth“ ist der zur Authentifizierung eingesetzte Dienst der Google Cloud Platform; <a href="https://firebase.google.com/terms/data-processing-terms">Firebase Data Processing and Security Terms </a>, <a href="https://cloud.google.com/terms/">Google Cloud Platform Terms of Service</a></li>
      <li><strong>Wildbit, LLC / Postmark</strong> – für den Versand von E-Mail-Nachrichten eingesetzter SaaS-Dienst; <a href="https://postmarkapp.com/eu-privacy">Privacy Information</a></li>
    </ul>
    <h3>Für den Betrieb von StadtKatalog.org verantwortlich</h3>
    <p>
      Philipp Naderer-Puiu<br>
      Gisela-Legath-Gasse 5/27, 1220 Wien
    </p>
    <p><em>Erste Fassung gültig ab 24. Mai 2018.</em></p>
  </div>
</template>
<script>
  import {mapState} from "vuex";
  const {siteName} = STADTKATALOG_CONFIG;

  export default {
    name: "privacy",
    computed: {
      ...mapState([
        "geoFenceName"
      ]),
      proposalUrl: function() {
        return `https://app.stadtkatalog.org/stk/proposeEntry${this.geoFenceName !== null ? "?geoFenceName=" + this.geoFenceName : ""}`;
      }
    },
    created: function() {
      document.title = "Informationen zum Datenschutz - " + siteName;
    }
  }
</script>
<style lang="scss">
  .privacy-wrapper {
    width: 100%;

    h1, h2 {
      width: 100%;
    }

    p {
      width: 100%;
      font-size: 1rem;
      line-height: 1.5rem;
      margin: 1rem 0;
    }

    li {
      font-size: 1rem;
      line-height: 1.5rem;
      margin: 0.125rem 0;
    }

    .suggest-stadtkatalog-entry {
      margin: 3rem 0;
      text-align: center;
      width: 100%;
    }
  }

  @media (min-width: 50rem) {
    .suggest-stadtkatalog-entry .button {
      font-size: 1.25rem;
      padding: 0.875rem;
    }
  }
</style>
