<template>
  <div class="map-wrapper">
    <div class="map">
      <v-map ref="map" :zoom="mapZoom" :minZoom="12" :maxZoom="18" :center="mapCenter">
        <v-tilelayer
          :url="mapUrl"
          :options="mapOptions"
          attribution="<a href='http://basemap.at' target='_blank'>basemap.at CC-BY 3.0</a>"
        />

        <v-marker-cluster :options="clusterOptions">
          <v-marker
            v-for="feature in features"
            :key="feature.id"
            :lat-lng="convertLngLatToLatLng(feature)"
            :icon="getIconForFeature(feature)"
          >
            <v-popup :options="{ closeButton: true }">
              <div class="map-popup">
                <h3>{{ feature.properties.name }}</h3>
                <p>{{ feature.properties.description }}</p>
                <p class="map-popup-footer">
                  <router-link :to="{ name: 'entry', params: { id: feature.id }}" class="button">Details</router-link>
                </p>
              </div>
            </v-popup>
          </v-marker>
        </v-marker-cluster>

      </v-map>
    </div>
  </div>
</template>

<script>
  import L from "leaflet";
  import { mapState } from "vuex";
  import {default as marker} from "../markers";

  const {siteName} = STADTKATALOG_CONFIG;

  const RETINA = (function(window) {
    if (window.matchMedia) {
      let mq = window.matchMedia("only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 2.6/2), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen  and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx)");
      return (mq && mq.matches || (window.devicePixelRatio > 1));
    }
  })(window);

  const USE_SMALL_CENTER = (function(window) {
    if (window.matchMedia) {
      let mq = window.matchMedia("only screen and (max-width: 50em)");
      return mq && mq.matches;
    }
  })(window);

  export default {
    name: "sk-map",
    components: {

    },
    props: {

    },
    data () {
      return {
        error: "",
        loading: true,
        mapOptions: {
          subdomains: ["maps", "maps1", "maps2", "maps3", "maps4"]
        },
        mapZoom: STADTKATALOG_CONFIG.mapZoom,
        mapCenter: STADTKATALOG_CONFIG.mapCenter,
        clusterOptions: STADTKATALOG_CONFIG.clusterOptions
      }
    },
    computed: {
      mapUrl: function() {
        return "https://{s}.wien.gv.at/basemap/" +
          (RETINA ? "bmaphidpi" : "geolandbasemap") + "/normal/google3857/{z}/{y}/{x}." +
          (RETINA ? "jpeg" : "png");
      },
      ...mapState([
        "geoJson"
      ]),
      features: function() {
        return this.geoJson.features;
      }
    },
    watch: {

    },
    methods: {
      convertLngLatToLatLng: function(feature) {
        return [feature.geometry.coordinates[1], feature.geometry.coordinates[0]];
      },
      getIconForFeature(feature) {
        let icon = marker.defaultIcon;

        if (feature.properties.name && (
            feature.properties.name.toLowerCase().indexOf("seestadtflotte") >= 0 ||
            feature.properties.name.toLowerCase().indexOf("fahrrad") >= 0
          )) {
          icon = marker.bikeIcon;
        } else if (feature.properties.name && (
            feature.properties.name.toLowerCase().indexOf("wipark") >= 0 ||
            feature.properties.name.toLowerCase().indexOf("garage") >= 0
          )) {
          icon = marker.carIcon;
        } else if (feature.properties.tags && feature.properties.tags.length > 0) {
          for (let tag of feature.properties.tags) {
            switch(tag) {
              case "3420 :: bildung + kinderbetreuung": icon = marker.educationIcon; break;
              case "3420 :: essen + trinken": icon = marker.restaurantIcon; break;
              case "3420 :: medizin + gesundheit": icon = marker.healthIcon; break;
              case "3420 :: einkaufen + dienstleistung": icon = marker.shopIcon; break;
              case "icon :: sport": icon = marker.sportIcon; break;
              case "icon :: hotel": icon = marker.hotelIcon; break;
              case "icon :: dormitory": icon = marker.hotelIcon; break;
            }
          }
        }

        return icon;
      }
    },
    created() {
      this.loading = true;
      document.title = "Stadtteilplan - " + siteName;

      if (USE_SMALL_CENTER) {
        this.mapCenter = [48.2246,16.501];
      }

      if (this.$route.query.center) {
        const candidate = this.$route.query.center.split(",");
        if (candidate.length === 2) {
          this.mapCenter = candidate;
          this.mapZoom = 18;
        }
      }

      if (this.$route.query.tag && this.$route.query.tag.indexOf("3420 ::") === 0) {
        this.$store.commit("setGeoJsonTagFilter", this.$route.query.tag);
      } else {
        this.$store.commit("setGeoJsonTagFilter", null);
      }

      this.$store.dispatch("updateGeoJson")
        .then(() => {
          this.loading = false;
        });
    },
    mounted() {
      if (this.$route.query.center) {
        const candidate = this.$route.query.center.split(",");
        if (candidate.length === 2) {
          L.circle(candidate, {
            radius: 12,
            color: "#36495E",
            fillColor: "#BFB753",
            fillOpacity: 0.75
          }).addTo(this.$refs.map.mapObject);
        }
      }
    },
    destroyed() {
      this.$store.commit("setGeoJsonTagFilter", null);
    }
  }
</script>

<style lang="scss">
  .map {
    .marker-cluster-small {
      background-color: rgba(123, 122, 76, 0.6);
    }

    .marker-cluster-small div {
      background-color: rgba(216, 245, 154, 0.5);
    }

    .marker-cluster-medium {
      background-color: rgba(123, 122, 76, 0.6);
    }

    .marker-cluster-medium div {
      background-color: rgba(220, 233, 138, 0.85);
    }

    .marker-cluster-large {
      background-color: rgba(123, 122, 76, 0.6);
    }

    .marker-cluster-large div {
      background-color: rgba(214, 227, 130, 0.95);
    }

    .map-popup {
      h3 {
        font-size: 1.125rem;
        margin: 0;
      }

      p {
        font-size: 1rem;
        margin: 0.25rem 0;
      }

      .map-popup-footer {
        margin: 0.5rem 0;

        .button {
          color: #3e5b33;
          font-size: 0.75rem;
          padding: 0.375rem;
          display: inline-block;
        }
      }
    }

    .leaflet-container .leaflet-popup-close-button {
      font-size: 18px;
      top: 4px;
      right: 5px;
    }
  }
</style>

<style lang="scss" scoped>
  .map {
    margin-top: 1rem;
    height: calc(98vh - 6rem);
  }
</style>
