<template>
  <div>
    <sk-search ref="search"></sk-search>
  </div>
</template>

<script>
  import {mapState} from "vuex";
  import StadtKatalogSearch from "@/components/StadtKatalogSearch";

  export default {
    name: "stadtkatalog-result-page",
    components: {
      "sk-search": StadtKatalogSearch,
    },
    data () {
      return {
      }
    },
    computed: {
      ...mapState([
        "geoFenceName",
        "totalHits",
      ]),
      proposalUrl: function() {
        return `https://app.stadtkatalog.org/stk/proposeEntry${this.geoFenceName !== null ? "?geoFenceName=" + this.geoFenceName : ""}`;
      }
    },
    methods: {
      setQuery(query) {
        this.$store.commit("setQuery", query);
        this.$refs.search.queryStadtKatalog();
        this.$refs.search.focusSearchField();
      }
    },
    created() {
      document.title = STADTKATALOG_CONFIG.siteName;
    }
  }
</script>

<style lang="scss" scoped>
  section {
    margin: 3rem 0;
    padding: 0 3rem;

    h2 {
      text-align: center;
    }

    p {
      line-height: 1.375rem;
    }
  }

  .something-missing {
    .suggest-stadtkatalog-entry {
      text-align: center;

      .button {
        font-weight: 600;
        padding: 0.75rem 1.25rem;
      }
    }
  }

  .suggestion-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;

    li {
      margin-bottom: 0.75rem;
      cursor: pointer;

      .button {
        display: inline-block;
      }
    }

    .map-link .button::before {
      content: "";
      background-image: url("../assets/map_icon.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      display: inline-block;
      height: 1rem;
      width: 1rem;
      position: relative;
      top: 1px;
      margin-right: 0.3125rem;
    }
  }

  @media (max-width: 50rem) {
    section {
      margin: 3rem 0;
      padding: 0;
    }
  }
</style>
