html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute !important;
  clip: rect(0, 0, 0, 0) !important;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.button {
  cursor: pointer;
  border: 1px solid #d3d3d2;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  background: #f5f5f6;
  color: #434e54;
  text-decoration: none;
}
.button:hover, .button:focus {
  background: #eaeaeb;
  box-shadow: 0 0 0.125rem #bfbfbf;
  text-decoration: none;
}

a.button {
  display: inline-block;
}

a:hover, a:focus {
  text-decoration: underline;
}

.stadtkatalog header {
  height: 4.75rem;
  background-color: #90a4ae;
}

.seestadtcity header {
  height: 3.5rem;
  background-color: #35495E;
}

.content-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.content-container .content-box {
  flex: 1 1 auto;
  width: 100%;
  max-width: 70em;
}

.seestadtbot .content-container .content-box {
  max-width: 80em;
}

@media (max-width: 70rem) {
  .content-box {
    padding: 0 10px;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 425ms cubic-bezier(0.23, 1, 0.32, 1);
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
