@import "~SiteVariables";

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: transparent;
  cursor: pointer;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

// Breakpoints
//  * mobile   =>  [320px 590px)
//  * tablet   =>  [590px 1020px)
//  * desktop  =>  [1020px 1280px)
//  * wide     =>  [1280px ...)
$mq-breakpoints: (
  mobile: 320px,
  tablet: 590px,
  desktop: 1020px,
  wide: 1280px
) !default;
@import '~sass-mq';

@include mq($until: tablet) {
  .hidden-mobile {
    display: none;
  }
}

body {
  margin: 0;
  padding-bottom: 6rem;
  font-family: $font-text;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-headline;
  font-weight: 700;
}

a {
  color: $link-normal-color;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
