<template>
  <div id="app">
    <header class="content-container">
      <div class="content-box">
        <div class="header-content">
          <router-link to="/" v-if="!isFrontPage()">
            <h1>
              <img src="./assets/seestadtcity/logo.png" alt="" title="">
              Seestadt.city
            </h1>
          </router-link>
          <div v-else>
            <h1>
              <img src="./assets/seestadtcity/logo.png" alt="" title="">
              Seestadt.city
            </h1>
          </div>
        </div>
      </div>
    </header>
    <main class="content-container">
      <div class="content-box">
        <router-view></router-view>
      </div>
    </main>
    <footer>
      <router-link to="/ueber">Impressum</router-link> | <router-link to="/datenschutz">Datenschutz</router-link><br>
      Datenquelle: <a href="https://stadtkatalog.org">(CC BY 4.0) StadtKatalog.org</a>
    </footer>
  </div>
</template>

<script>
import "normalize.css";

export default {
  name: "app",
  methods: {
    isFrontPage: function() {
      return this.$route.path === "/";
    }
  }
}
</script>

<style lang="scss">
  @import "./assets/base.scss";
  @import "./assets/ionicons.css";
  @import "~leaflet/dist/leaflet.css";
  @import "~leaflet.markercluster/dist/MarkerCluster.css";
  @import "~leaflet.markercluster/dist/MarkerCluster.Default.css";

  body {
      margin: 0;
      padding-bottom: 6rem;
      background-color: #f2f1ed;
      background-image: url("/static/generic/noise.png");
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "PT Serif", "Times New Roman", Times, serif;
    font-weight: 700;
  }

  .button {
    border: 1px solid #d3d3d2;
    background: #FBFBFA;
    color: #484b55;

    &:hover,
    &:focus {
      background: #f7f7f7;
      box-shadow: 0 0 0.125rem #bfbfbf;
    }
  }
</style>
<style lang="scss" scoped>
  header {
    height: 3.5rem;
    background-color: #35495E;
  }

  .header-content {
    height: 100%;
    display: flex;
    align-items: center;
    color: #ffffff;

    a {
      color: inherit;
      text-decoration: none;

      &.router-link-active:focus {
        color: #ffffff;
      }

      &.router-link-active:hover,
      &:hover,
      &:focus {
        color: #c0c0c0;
      }
    }

    h1 {
      img {
        width: auto;
        height: 1.75rem;
      }

      font-size: 2rem;
      flex: 1 1 auto;
      margin: 0;
      padding: 0;
    }
  }

  footer {
    font-size: 0.75rem;
    line-height: 1.125rem;
    margin-top: 5rem;
    text-align: center;
    color: #9f9f9f;

    a {
      color: #8d8d8d;
    }
  }

  @media (max-width: 50rem) {
    .header-content {
      padding: 0 10px;
      h1 {
        img {
          width: auto;
          height: 1.5rem;
        }

        font-size: 1.75rem;
      }
    }
  }
</style>
